$font-size-base: 1.2rem;
$font-color-light: #eddcd2;
@import "../bootstrap-5.0.0-beta1/scss/bootstrap";

* {
    font-family: "EB Garamond", serif;
}

//Home Page

.home-page {
    background-image: url(./home-page.jpg);
    height: 100vh;
    background-size: cover;
    color: $font-color-light !important;
}

.home-page .name {
    padding-top: 30vh;
    font-size: 4rem;
}

@include media-breakpoint-up(md) {
    .home-page .name {
        font-size: 10rem;
    }
}

.portfolio {
    background-color: #6c584c;
    color: $font-color-light;
}

.navbar-nav .nav-link {
    color: $font-color-light !important;
}

.navbar-light {
    background-color: transparent !important;
}

.works-city {
    height: 50vh;
    @include media-breakpoint-up(md) {
        height: 80vh;
    }
    background-image: url(./city.jpg);
    background-size: contain;
}

.description {
    padding: 7vh;
    @include media-breakpoint-up(md) {
        padding: 15vh;
    }
    .s {
        font-size: 1.5rem;
    }
    .l {
        font-size: 2rem;
        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }
    }
}

.work {
    a {
        text-decoration: none;

        &:visited {
            text-decoration: none;
            color: $font-color-light;
        }
        &:hover {
            text-decoration: underline;
        }
        &:active {
            text-decoration: none;
        }
    }
}

//Portfolio Page
.wedding {
    background-color: #271805;
    .navbar-light {
        background-color: transparent !important;
    }
    .navbar-brand {
        color: $font-color-light !important;
    }
    .navbar-nav .nav-link {
        color: $font-color-light !important;
    }
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(200px, 1fr));
    grid-template-rows: repeat(5, minmax(200px, 1fr));
    div:not(.title) {
        background-image: url(../polaroid-temp.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .title {
        color: $font-color-light;
        grid-area: 1/1/1/3;
    }
}
.photo1 {
    grid-area: 1/1/3/4;
    transform: rotate(-20deg);
    margin-top: 10%;
}
.photo2 {
    grid-area: 4/2/5/5;
    transform: rotate(20deg);
}
.photo3 {
    grid-area: 3/3/5/5;
    // transform: rotate(20deg);
}
.photo4 {
    grid-area: 3/3/5/5;
    // transform: rotate(20deg);
}
.photo5 {
    grid-area: 1/5/3/8;
    transform: rotate(15deg);
}

.photo6 {
    grid-area: 1/3/3/5;
    transform: rotate(5deg);
}
.photo7 {
    grid-area: 2/7/4/9;
    transform: rotate(5deg);
}
.photo8 {
    grid-area: 3/5/5/7;
    transform: rotate(5deg);
}

//Pricing page
.pricing {
    background-color: #b2967d;
    .row {
        background-color: white;
        border-radius: 15px;
        filter: drop-shadow(10px 10px 10px gray);
        border: 1px solid white;
        img {
            width: 80%;
        }
        div:not(.last) {
            border-right: 1px solid gray;
        }
    }
}

//About page
.about {
    background-color: #b2967d;
    .castle-background {
        background-image: url(../castle.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
    }
    .row.first img {
        box-shadow: 25px -20px black;
    }
    .row.second img {
        box-shadow: -25px 20px black;
    }
}
